.userCardContainer {
  display: flex;
  justify-content: stretch;
  align-items: center;

  border-radius: 15px;

  min-width: 320px;
  min-height: 600px;
}

.card-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-bg {
  min-height: 80px;
  background-color: darkmagenta;
}

.card-avatar {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-fullname {
  font-weight: 600;
}

.user-work {
  color: grey;
}

.user-description {
  font-weight: 200;
}
